.profile-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
}

.profile-header {
    display: inline-block;
    width: 70%;
    max-width: 700px;
    text-align: center;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.profile-info {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
    padding: 7px 20px;
    display: flex;
}

.info-type {
    width: 30%;
    padding: 10px;
    font-weight: bold;
    font-family: system-ui;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #06593f;
    color: white;
}

.info-text {
    display: flex;
    flex: 1;
    width: 70%;
    padding: 10px;
    font-size: large;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(230, 230, 230);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profile-edit-button {
    background-color: #06593f;
    color: rgb(255, 255, 255);
    width: 25% auto;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 50px;
    align-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-edit-button:hover {
    color: rgb(0, 179, 255);
    font-weight: bold;
    font-size: 15px;
    border-width: 3px;
}


.to-profile-button {
    background-color: #06593f;
    color: rgb(255, 255, 255);
    width: 25% auto;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    align-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.to-profile-button:hover {
    color: rgb(0, 179, 255);
    font-weight: bold;
    font-size: 15px;
    border-width: 3px;
}