/* Listings */
.market-header {
    margin: 40px 0;
    text-align: center;
    font-size: 44px;
    letter-spacing: 2px;
    color: #06593f;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.market-header::after {
    content: "";
    display: block;
    width: 70%;
    height: 4px;
    background: #06593f;
    margin: 10px auto 0;
    border-radius: 2px;
}

/* Listings group */
.listings-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
}


.listing {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px;
    border: 1px solid #054631;
    border-radius: 8px;
    background-color: #057d57;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listing:hover {
    background-color: #15996f;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.listing a {
    color: inherit;
    text-decoration: none;
}

.listing-tag {
    font-weight: normal;
    background-color: #006341;
    color: white;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.listing-title {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 36px;
}

.listing-title a {
    color: inherit;
    text-decoration: none;
}

.listing-buttons {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}

.edit-button,
.delete-button {
    padding: 8px 16px;
    text-decoration: none;
    font-weight: normal;
    background-color: #006341;
    padding: 4px 10px;
    border-radius: 8px;
}

.edit-button {
    background-color: #175883;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.edit-button:hover {
    background-color: #327fb3;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.delete-button {
    background-color: #6a1e26;
    margin-left: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.delete-button:hover {
    background-color: #a43641;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
