  /* Listings */
.market-header {
text-align: center;
font-size: 36px;
margin: 40px 0;
}

/* Listings group */
.listings-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .listing {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #057d57;
    text-decoration: none;
  }
  .listing:hover {
    background-color: #22a179; /* Light gray background when hovered */
  }
  .listing a {
    color: inherit;
    text-decoration: none;
  }


  .listing p {
    color: white;
  }

  .listing-title {
    color: white;
    text-decoration: none;
  }

  .listing-title a {
    color: inherit;
    text-decoration: none;
  }

